<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="stylesheet" href="../../assets/css/main.css"> -->


</head>

<body>

    <!-- ==========Movie-Section========== -->
    <div style="overflow: hidden;padding-bottom: 80px;padding-top: 80px; font-size: 16px; color: #dbe2fb; line-height: 28px; font-family: 'Open Sans', sans-serif; background: #001232;">
        <div style="width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; max-width: 450px; display: block;">
            <div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
                <div style="position: relative; width: 100%; padding-right: 15px; padding-left: 15px;">
                    <div style="padding: 30px;border: 1px solid #11326f; border-bottom-style: dashed; padding-bottom: 10px; margin-top: 60px; background-color: #032055; display: block;">
                        <h4 style="font-size: 28px; margin-top: -9px; margin-bottom: 40px; text-align: center; border-bottom: 1px dashed #11326f; padding-bottom: 23px; margin-bottom: 35px; font-weight: 600; text-transform: uppercase;">
                            cinema tickets
                        </h4>
                        <ul style="border-bottom: 1px dashed #11326f; margin: 0; padding: 0;">
                          <li style="padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                              <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; display: flex; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                <span>d89df9ff-3989-4d42-94d6-9c0e2487c3d3</span>
                              </h6>
                          </li>
                            <li style="margin-top: 30px; padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                                <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                  BÀN TAY DIỆT QUỶ
                                </h6>
                                <span style="margin-bottom: -14px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 14px; text-transform: uppercase; color: #9aace5; display: flex; flex-wrap: wrap;">
                                  Kinh dị, Giả tưởng; Hành động
                                </span>
                            </li>
                            <li style="padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                                <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; display: flex; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                  <span>GOLD CLASS</span>
                                </h6>
                                <div style="margin-bottom: -14px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 14px; text-transform: uppercase; color: #9aace5; flex-wrap: wrap; display: flex; box-sizing: border-box;">
                                  <span>2021-05-25 00:00:00 ~ 2021-05-25 21:00:00</span>
                                  <span>13:00:00</span>
                                </div>
                            </li>
                            <li style="margin-top: 30px; padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                                <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                  CGV Aeon Bình Tân
                                </h6>
                                <span style="margin-bottom: -14px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 14px; text-transform: uppercase; color: #9aace5; display: flex; flex-wrap: wrap;">
                                  Tầng 3, TTTM Aeon Mall Bình Tân, Số 1 đường số 17A, khu phố 11, phường Bình Trị Đông B, quận Bình Tân, TP. HCM
                                </span>
                            </li>
                            <li style="padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                                <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; display: flex; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                  <span>H - 1</span>
                                  <span>01</span>
                                </h6>
                                <div style="margin-bottom: -14px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 14px; text-transform: uppercase; color: #9aace5; flex-wrap: wrap; display: flex; box-sizing: border-box;">
                                  <span>2021-06-04 16:00:00</span>
                                  <span>Trần Đình Phương</span>
                                </div>
                            </li>
                            <li style="padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                                <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; display: flex; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                  <span>Tickets  Price</span>
                                  <span>vnd 89,000</span>
                                </h6>
                            </li>
                        </ul>
                        <ul style="border-bottom: 1px dashed #11326f; margin: 0; padding: 0;">
                            <li style="margin-top: 30px; padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                                <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                  Venus
                                </h6>
                                <span style="margin-bottom: -14px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 14px; text-transform: uppercase; color: #9aace5; display: flex; flex-wrap: wrap;">
                                  English-2d
                                </span>
                            </li>
                            <li style="padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                                <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; display: flex; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                  <span>City Walk</span>
                                  <span>02</span>
                                </h6>
                                <div style="margin-bottom: -14px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 14px; text-transform: uppercase; color: #9aace5; flex-wrap: wrap; display: flex; box-sizing: border-box;">
                                  <span>10 SEP TUE, 11:00 PM</span>
                                  <span>created at</span>
                                </div>
                            </li>
                            <li style="padding: 0; margin-bottom: 30px; list-style: none; display: list-item; text-align: -webkit-match-parent;">
                                <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; display: flex; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                                  <span>Tickets  Price</span>
                                  <span>$150</span>
                                </h6>
                            </li>
                        </ul>
                    </div>
                    <div style="padding: 30px; border: 1px solid #11326f; border-bottom-style: dashed; padding-bottom: 10px; background-color: #032055; display: block; height: 50px;">
                    <!-- <div style="background: #05245c; padding: 10px; display: flex; text-align: center!important; flex-wrap: wrap; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: "Open Sans", sans-serif;"> -->
                      <h6 style="text-transform: uppercase; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 7px; display: flex; flex-wrap: wrap; font-size: 18px; margin-top: -5px; font-weight: 600; margin: 0; line-height: 1.3; color: #ffffff; font-family: 'Open Sans', sans-serif;">
                        <span>Total</span>
                        <span>VND 350,000</span>
                      </h6>
                        <!-- <h6 style="text-transform: uppercase; font-size: 18px; -webkit-box-pack: justify; margin-bottom: -20px; margin-top: 0px; -ms-flex-pack: justify; justify-content: space-between; box-sizing: border-box;">
                          <span>Amount Payable</span>
                          <span>$222</span>
                        </h6> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Movie-Section========== -->
</body>

</html>
