<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/animate.css">
    <link rel="stylesheet" href="../../assets/css/flaticon.css">
    <link rel="stylesheet" href="../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../assets/css/odometer.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../assets/css/nice-select.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/x-icon">

    <title>Reset password</title>


</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->

    <!-- ==========forgot password-In-Section========== -->
    <% if(typeof status == 'undefined') {%>
      <section class="account-section bg_img" data-background="./../../assets/images/account/account-bg.jpg">
          <div class="container">
              <div class="padding-top padding-bottom">
                  <div class="account-area">
                      <div class="section-header-3">
                          <span class="cate">forgot password</span>
                          <h2 class="title">Please enter email</h2>
                      </div>
                      <form class="account-form" action="/user/forgot-password" method="post">
                          <div class="form-group">
                              <label for="email2">Email<span>*</span></label>
                              <input type="text" placeholder="Enter Your Email" id="email2" name="email" required>
                          </div>
                          <div class="form-group text-center">
                              <input type="submit" value="Next">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>
    <% } else { %>
      <% if (status == 'Confirm') { %>
        <section class="account-section bg_img" data-background="./../../assets/images/account/account-bg.jpg">
            <div class="container">
                <div class="padding-top padding-bottom">
                    <div class="account-area">
                      <div class="section-header-3">
                        <h2 class="title">RESET PASSWORD</h2>
                      </div>
                      <form class="comfirm-form" action="/user/sign-in" method="get">
                          <div class="form-group-comfirm">
                              <h2><i class="fas fa-envelope"></i></h2>
                              <p>Verification code has been sent to email address</p>
                              <p><span><%= email %></span></p>
                              <p>Please verify.</p>
                          </div>
                          <div class="form-group-comfirm text-center">
                              <input type="submit" value="Confirm">
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </section>
      <% } else if (status == 'Reset') { %>
        <section class="account-section bg_img" data-background="./../../assets/images/account/account-bg.jpg">
            <div class="container">
                <div class="padding-top padding-bottom">
                    <div class="account-area">
                        <div class="section-header-3">
                            <span class="cate">reset password</span>
                            <h7 class="title">enter password</h7>
                        </div>
                        <form class="account-form" action="/user/reset-password" method="post">
                            <div class="form-group">
                                <label for="pass1">Password<span>*</span></label>
                                <input type="password" placeholder="Enter Your Password" id="pass1" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="pass2">Confirm Password<span>*</span></label>
                                <input type="password" placeholder="Enter Your Password" id="pass2" name="repassword" required>
                            </div>
                            <input type="hidden" name="accessToken" value="<%= access_token %>">
                            <div class="form-group text-center">
                                <input type="submit" value="Change">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
      <% } else if (status == 'Successful') {%>
        <section class="account-section bg_img" data-background="./../../assets/images/account/account-bg.jpg">
            <div class="container">
                <div class="padding-top padding-bottom">
                    <div class="account-area">
                      <div class="section-header-3">
                        <h2 class="title">RESET PASSWORD</h2>
                      </div>
                      <form class="comfirm-form" action="/user/sign-in" method="get">
                          <div class="form-group-comfirm">
                              <h2 style="color: #31d7a9;" ><i class="far fa-check-circle"></i></h2>
                              <p><span>Change password successfully</span></p>
                          </div>
                          <div class="form-group-comfirm text-center">
                              <input type="submit" value="Confirm">
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </section>
      <% } %>
    <% } %>
    <!-- ==========Sign-In-Section========== -->


    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/modernizr-3.6.0.min.js"></script>
    <script src="../../assets/js/plugins.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/isotope.pkgd.min.js"></script>
    <script src="../../assets/js/magnific-popup.min.js"></script>
    <script src="../../assets/js/owl.carousel.min.js"></script>
    <script src="../../assets/js/wow.min.js"></script>
    <script src="../../assets/js/countdown.min.js"></script>
    <script src="../../assets/js/odometer.min.js"></script>
    <script src="../../assets/js/viewport.jquery.js"></script>
    <script src="../../assets/js/nice-select.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/sign-in.js"></script>
</body>

</html>
